
# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=""

# Direct connection to the database. Used for migrations.
DIRECT_URL=""
        
PORT=1234
BETTER_AUTH_URL=http://localhost:1234
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=